

.panel > div {
  border-radius: 0 !important;
}

html, body {
  width: 100%;
  height: 100%;
}

#mount-point,
#app {
  width: 100%;
  height: 100%;
}

#app__interface {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 500px;
  z-index: 99;
  margin-left: -250px;
}

#map {
  width: 100%;
  height: 100%;
}

form .input-group {
  width: 310px;
}

.panel {
  width: $panel-width;
  margin-left: auto;
  margin-right: auto;
}

.weather {
  position: relative;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px;  
}
.weather p {
  max-width: 80%;
}


.weather__icon {
  position: absolute;
  right: 15px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 1px 0px #ddd;
}

.weather__icon img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  opacity: 0.4;
}